* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: rgb(255, 228, 196);
    background: linear-gradient(to bottom, rgba(255, 228, 196, 1) 85%, rgba(255, 228, 196, 0));
}

/* Styles for Header section */

.login>li {
    list-style: none;
    display: inline;
}

.login li a {
    text-decoration: none;
    color: azure;
    background-color: black;
    border: 3px solid lightcoral;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 3px gray;
    margin: auto 5px auto auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 30px 70px;
    /* background: url('../media/gradient1.png'); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
}

header h1 {
    text-decoration: underline wavy purple;
    text-shadow: 1px 1px 1px gray;
    font-size: 45px;
}

#search {
    border-radius: 5px;
    padding: 5px;
    border: 3px solid skyblue;
}

/* Styles for Main section */
main {
    border-top: 1px solid black;
    display: flex;
    padding: 10px;
}

.main-nav {
    width: auto;
    /* border: 4px solid black; */
    background-image: url('../media/nav.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1300px;
}

.main-nav-ul li,
a {
    color: whitesmoke;
    list-style: none;
    font-size: 25px;
    text-decoration: none;
}

.main-nav ul {
    text-align: center;
    padding: 90px 5px 0px 0px;
}

.main-nav-ul li {
    margin-bottom: 53px;
}

nav a:hover,
.login>li a:hover {
    background-color: aliceblue;
    color: black;
    border: 3px solid skyblue;
    border-radius: 5px;
}

.main-section {
    padding: 20px 100px;
}

.main-section article p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.main-section article h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles for Footer section */
footer {
    color: black;
    /* background-color: black; */
    text-align: center;
    padding: 70px;
}